# python virtual environments
.venv/
venv/
env/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# vscode settings
.vscode/

# system junk
.DS_Store
Thumbs.db

# logs
*.log

# JUCE build stuff
Builds/
build/
cmake-build-*/

# binaries
*.app
*.exe
*.dll
*.so
*.dylib